.nft_container {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

/* .nft_container:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 8rem;
  bottom: 0;
  left: 0;
  background: linear-gradient(5deg, #f224f9 50%, #02feb9 50%);
  transform: translate3d(14px, -63px, 0) scale(1.29);
  filter: blur(100px);
  opacity: var(1);
  transition: opacity 0.3s;
  animation: animate 100s linear infinite;
  border-radius: inherit;
} */

/* #light .nft_container:before{
  display: none;
} */

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/

/* .nft_container::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  filter: blur(20px);
  border-radius: inherit;
} */

.bannerImg {
  border-radius: 10px;
  width: 480px;
}

@keyframes animate {
    0% {
        background-position-y: -200rem;
    }

    100%{
        background-position-y: 200rem;
    }
}

/* Media Query */

@media only screen and (max-width: 768px) {
  .bannerImg{
    width: 100%;
  }

  .nft_container:before{
    right: 0;
  }
}
